* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: #1b3b56;
    --secondary-text-color: #577592;
    --accent-color: #2294cd;
    --accent-color-dark: #1d69a3;
    --padding-inline-section: 28px;
}

body {
    position: relative;
    font-family: "Poppins", sans-serif;
    color: var(--primary-text-color);
    background: linear-gradient(135deg, #ff0844 0%, #ffb199 50%, #ff0844 100%);
    min-height: 100vh;
    min-width: 100vw;
    animation-name: bodyColorChanger;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

@keyframes bodyColorChanger {
    0% {
        background: linear-gradient(135deg, #ff0844 0%, #ffb199 50%, #ff0844 100%);
    }
    25% {
        background: linear-gradient(135deg, #0093e9 0%, #80d0c7 50%, #fcee21 100%);
    }
    50% {
        background: linear-gradient(135deg, #fa709a 0%, #fee140 100%);
    }
    75% {
        background: linear-gradient(135deg, #fa709a 0%, #fee140 100%);
    }
    100% {
        background: linear-gradient(135deg, #4facfe 0%, #00f2fe 100%);
    }
}

p {
    font-family: "Roboto", sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}
.flex {
    display: flex;
    align-items: center;
}
.container {
    max-width: 1100px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    background-color: #f3faff;
    box-shadow: 0 0 4px #bbd0e2;
    position: fixed;
    top: 0;
    z-index: 99;
    left: 0;
    right: 0;
}

.main-nav {
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.company-logo h1 {
    padding-block: 12px;
    width: 120px;
    height: 70px;
}

.nav-links ul {
    gap: 22px;
}

.hover-links {
    cursor: pointer;
}

.hover-links:hover {
    color: var(--secondary-text-color);
}

.hover-links:active {
    color: red;
}

.nav-item.active {
    color: var(--accent-color);
}

.search-bar {
    height: 32px;
    gap: 8px;
}
.news-input {
    width: 200px;
    height: 100%;
    padding-inline: 12px;
    border-radius: 4px;
    border: 2px solid #bbd0e2;
    font-family: "Roboto", sans-serif;
}



.form-div {
    background-color: transparent;
    padding: 40px 30px;
    min-width: 350px ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.user .pass , input {
    height: 50px;
    width: 100%;
    padding: 0 20px;
    border: none;
    border-bottom: 0.5px solid black;

}

.pass {
    margin-bottom: 30px;
}

.form-div form .buttons {
    margin-top: 60px;
}





